<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="nav-wrap">
        <nav>
            <ul>
                <li><h3>Home</h2></li>
                <li><h3>Dashboard</h2></li>
                <li><h3>Login</h2></li>
                <li><h3>Logout</h2></li>
            </ul>
            <h1>The Tech Blog</h1>
        </nav>
    </div>
    <main>
      {{{body}}}
    </main>
</body>
</html>


{{!-- <meta charset="UTF-8"> --}}
{{!-- <head>
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Potluck Party! &#127881
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html> --}}