<div class="user-card">
  <div class="user-card-header">
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
    {{username}}
  </div>
</div>

{{!-- //{{dish.dish_name}} --}}