<section>
        <div class="login">
            <div class="loggin-heading">
                <h2>Login</h2>
            </div>
            <div class="user-login">
                <form class="login-form">
                    <label for="username" class="username-label">Username</label><br>
                    <input type="text" id="username-login"><br>
                    <label for="psw" class="psw-label">Password</label><br>
                    <input type="text" id="password-login"><br>
                    <div>
                        <button type="submit" id="user-login" class="btn-login">
                            Login
                        </button>
                    <!-- <input type="submit" value="Login"> -->
                </form>
            </div>
        </div>
    </section>

    <script src="./js/login.js"></script>