<section>
        <div class="signup">
            <div class="signup-heading">
                <h2>Sign Up</h2>
            </div>
            <div class="user-signup">
                <form class="signup-form">
                    <label for="username" class="username-label">Username</label><br>
                    <input type="text" id="username-signup"><br>
                    <label for="psw" class="psw-label">Password</label><br>
                    <input type="text" id="password-signup"><br>
                    <div>
                        <button type="submit" id="user-signup" class="btn-signup">
                            Sign Up!
                        </button>
                </form>
                <div class="re-direct">
                    <h3> <a class="re-direct-link" href="/login"> Login instead </a> </h3>
                </div>
            </div>
        </div>
    </section>

     <script src="/js/signup.js"></script>