* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* background-color: yellow; */
}

.nav-wrap {
    height: 100px;
    background: pink;
}

nav ul{
    display: flex;
    margin-left: 10px;
    background-color: lightgray;
    
}

li {
    background-color: lightgreen;
    margin-left: 20px;
    list-style: none;
    margin-top: 20px;
}

h1 {
    margin-left: 25px;
    margin-top: 20px;
    background: paleturquoise;
    width: 300px;
    height: 40px;
    padding-left: 30px;
    
}

.post {
    max-width: 1800px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    background: yellow;
}
.post-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: lightgoldenrodyellow;

}

{

}

