* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* background-color: yellow; */
}

/* Homepage */
.nav-wrap {
    height: 100px;
    background: pink;
}

nav ul{
    display: flex;
    margin-left: 10px;
    background-color: lightgray;
    
}

li {
    background-color: lightgreen;
    margin-left: 20px;
    list-style: none;
    margin-top: 20px;
}

h1 {
    margin-left: 25px;
    margin-top: 20px;
    background: paleturquoise;
    width: 300px;
    height: 40px;
    padding-left: 30px;
    
}

/* main.handlebars and single-post.handlebars */
.post {
    max-width: 1800px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    background: yellow;
}
.post-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: lightgoldenrodyellow;

}

/* Don't forget to remove display: none */
/* single-post.handlebars (comment area) */
.comment-box {
    /* display: none; */
    max-width: 1800px;
    height: 400px;
    margin: auto; 
    margin-top: 50px;
    background: lightgreen;
}
/* Don't forget to remove display:none */
.top-part {
    /* display: none; */
    max-width: 1800px;
    height: 50px;
    background: black;
}

textarea {
    margin-left: 50px;
    margin-top: 20px;
}

.comment-label {
    font-size: 30px;
    margin-top: 20px;
    margin-left:50px;
}

.btn-submit {
    height: 90px;
    width: 1700px;
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.submit {
    font-size: 35px;
}
/* ------ Login --------- */
/* login.handlebars */
.login-heading {
    /* display: none; */
    color: white;
    max-width: 1800px;
    height: 70px;
    background: black;
}

.loggin-heading h2{
    font-size: 30px;
    margin-left: 30px;
    padding-top: 15px;
}

.login {
    /* display: none; */
    max-width: 1800px;
    height: 400px;
    margin: auto; 
    margin-top: 50px;
    background: lightgreen;
}

/* .user-login {
    margin-top: 40px;
} */
 .login-form {
    margin-top: 20px;
 }
.login-form input {
    width:  1700px;
    height: 90px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 25px;

}

.username-label, .psw-label {
    font-size: 30px;
    margin-left: 30px;
    
    /* background: gray; */
}

.btn-login {
    height: 90px;
    width: 1700px;
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 35px;
}


